/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.dark-mode {
  background-color: #111;
  filter: invert(1) hue-rotate(180deg);
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  background-color: #0f1424;
}

.profile {
  position: relative;
  margin: 1rem;
}

.profile main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #5847eb;
  z-index: 3;
}

.profile main img {
  width: 75px;
  margin-right: 1rem;
  border: 4px solid white;
  border-radius: 50%;
}

.profile main p {
  color: #bbb;
  line-height: 1.5em;
  font-size: 0.9rem;
}

.profile main h2 {
  color: white;
  line-height: 1.5em;
  font-size: 1.5rem;
  font-weight: 300;
}

.profile nav {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 1rem;
  padding-top: 1rem;
  border-radius: 0 0 1rem 1rem;
  background-color: #1c1f4a;
  z-index: 1;
}

.profile nav ul {
  display: flex;
  width: 100%;
}

.profile nav li {
  text-align: center;
  width: 100%;
  padding: 1.5rem;
}

.profile nav a {
  width: 100%;
  font-size: 1.1rem;
  text-decoration: none;
  color: #6f76c8;
  transition: .2s color ease;
}

.profile nav a:hover {
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
